body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0 auto;
    padding: 10px 50px;
    width: 70%;
}
.section-flex{ display: flex; }
.color-word{ color: #FBA24F; }

.btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #FBA24F,  #FF1E1E);
    padding: 20px 40px;
    border-radius: 100px;
}
.font-size-50px{ font-size: 50px; }
p{
    line-height: 2em;
    margin-bottom: 10%;
    letter-spacing: 0.1em;
}
.order-section{
    padding-bottom: 10%;
}

.order-heading{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
}

.width-50percent{ width: 50%; }
#order-section-img{ width: 90%; }

.about-section{
    background-image: url(images/about_setion_bg.png);
    background-repeat: no-repeat;
    backgroung-size: cover;
}
#about-section-image{
    width: 50%;
    padding-left: 40%;
    padding-top: 10%;
}
.about-heading{
    padding-top: 8%;
    padding-right: 10%;
    padding-left: 10%;
}
